Body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

header {
  font-size: 50px;       
    font-weight: bold;
    background: #2874f0;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    gap: 30px;
    padding: 30px;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: 2;
}

.product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.product-card button {
    background: #2874f0;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background: #0f5bd8;
}

/* CART */
.cart {
    background: white;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#cartItems {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.qty-btn {
    padding: 3px 8px;
    margin: 0 3px;
}

.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.total-box {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #ddd;
    padding-top: 10px;
} 